
*{
box-sizing:border-box;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
}

ul{
float:left;
list-style-type:none;
margin-top:25px;
}

header{
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../foto/back1.jpg");
background-size:cover;
background-position:center;
height:500px;
}

ul li{
display:inline-block;
}

ul li a{
text-decoration:none;
color:#FFF;
padding:5px 20px;
border:1px solid transparent;
transition:0.6s ease;
font-family:Century Gothic;
}

ul li a:hover{
background-color:white;
color:black;
}

ul li#here a {
background-color:#ff6600;
color: white;
}

#fotoja {
float:right;
padding-right:35px;
padding-top:12px;
}

h1{
text-align:center;
font-size:45px;
color:black;
}

#div2 {
float: left;
width: 50%;
padding: 10px;
height: 500px;
}

#div1:after {
content: "";
display: table;
clear: both;
}

table{
padding-left: 75px;
color:black;
font-weight:bold;
}

#imazh {
border: 2px solid black;
border-radius: 4px;
padding: 7px;
}

td{
padding-left: 50px;
}

h3{
color:#ff6600;
font-size:30px;
display:inline;
}


#faqja{
background-color:white;
}	

footer {
background-color:black;
padding: 10px;
text-align: center;
color: white;
}

#img {
border-radius: 50%;
}

.fa {
padding: 20px;
text-align:center;
font-size: 30px;
width: 50px;
text-decoration: none;
border-radius:50%;
margin:5px 7px;
}

.fa:hover {
opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-instagram {
background: #ff66d9;
color: white;
}